
data/

seq_reports/

results/02_basecalling/

results/04_pore_c_snakemake_pipeline_run/reference_genome/

results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/

results/04_pore_c_snakemake_pipeline_run/pipeline_run/basecall/*.fq.gz
results/04_pore_c_snakemake_pipeline_run/pipeline_run/basecall/*.parquet
results/04_pore_c_snakemake_pipeline_run/pipeline_run/virtual_digest/NlaIII_Cavpor3.0.vd.fragments.parquet
results/04_pore_c_snakemake_pipeline_run/pipeline_run/refgenome/
results/04_pore_c_snakemake_pipeline_run/pipeline_run/mapping/
results/04_pore_c_snakemake_pipeline_run/pipeline_run/align_table/
results/04_pore_c_snakemake_pipeline_run/pipeline_run/assembly/
results/04_pore_c_snakemake_pipeline_run/pipeline_run/juicebox/
results/04_pore_c_snakemake_pipeline_run/pipeline_run/matrix/
results/04_pore_c_snakemake_pipeline_run/pipeline_run/contacts/
results/04_pore_c_snakemake_pipeline_run/pipeline_run/pairs/
results/04_pore_c_snakemake_pipeline_run/pipeline_run/merged_contacts/NlaIII_run01_Cavpor3.0_unphased.contacts.parquet
results/04_pore_c_snakemake_pipeline_run/pipeline_run/merged_contacts/NlaIII_run01_Cavpor3.0_unphased.concatemers.parquet
results/04_pore_c_snakemake_pipeline_run/pipeline_run/merged_contacts/NlaIII_run01_Cavpor3.0_unphased.fofn.txt
