
data/

seq_reports/

results/02_basecalling/

results/04_pore_c_snakemake_pipeline_run/reference_genome/

results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/.snakemake
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/.test
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/config/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/envs/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/results/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/rules/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/schemas/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/scratch/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/submodules/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/wrappers/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/.gitignore
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/.gitmodules
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/.pre-commit-config.yaml
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/CHANGELOG.md
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/environment.yml
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/LICENSE.md
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/ONT_logo.png
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/pyproject.toml
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/README.md
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/Snakefile
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/tox.ini

results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/results/align_table/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/results/basecall/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/results/benchmarks/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/results/contacts/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/results/mapping/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/results/refgenome/
results/04_pore_c_snakemake_pipeline_run/Pore-C-Snakemake/results/virtual_digest/
